<div class="row mainContent">
    <nav class="top-nav orange darken-2 mainContent col s12">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
            <i class="material-icons md-36">menu</i>
        </a>
        <div class="profile center">
            <h3>ALIS C.</h3>
        </div>
        <div class="pageTitle center">
            <h4>
                <div class="divider"></div>{{title}}</h4>
        </div>
    </nav>

    <div class="col s12">
        <div id="{{state}}">
            {{#switch state}} {{#case 'phisActivity'}}
            <div id="{{state}}">
            </div>
            {{/case}} {{#case 'phisRegister'}}
            <div id="{{state}}">
            </div>
            {{/case}} {{/switch}}
        </div>
    </div>
</div>